*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 320px;
    position: absolute;
    left: 25%;
    right: 35%;
    top: 15%;
    bottom: 45%;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 255px;
    width: 320px;
    padding: 20px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 22.25%;

    background: #E4FFE7;
    border-radius: 10px 10px 0px 0px;
    
}
.title
{
    position: absolute;
    left: 11.25%;
    right: 51.37%;
    top: 10.8%;
    bottom: 83.24%;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.word
{     
    position: absolute;
    left: 11.55%;
    right: 12.16%;
    top: 25.52%;
    bottom: 39.88%;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;   
}
.icons
{
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: absolute;
    left: 0;
    right: 40.46%;
    top: 85.97%;
    bottom: 100.8%;

}
.plus{
    position: absolute;
    top: 219px;
    left: 230px;
}
.content:hover{
    transition-delay: 110ms;
    background: #EFEFEF;
}
.plus:hover{
    transition-delay: 100ms;
    transform: scale(1.2);
    color: #3562FF;
}